[project]
name = "3w-toolkit"
version = "0.1.0"
description = ""
authors = [
    {name = "Mathtzt", email = "matheus.cn10@gmail.com"}
]
readme = "README.md"
requires-python = "==3.10.11"
license = "GPL-3.0"
dependencies = [
    "numpy==1.26.4",
    "scipy==1.15.2",
    "pandas==2.2.3",
    "scikit-learn==1.6.1",
    "matplotlib==3.10.1",
    "seaborn==0.13.2",
    "plotly==6.0.0",
    "coverage==7.8.1",
    "imbalanced-learn==0.13.0",
    "ipykernel==6.29.5",
    "Pillow==11.0.0",
    "scikit-image==0.25.2",
    "timm==1.0.15",
    "tqdm==4.67.1",
    "pytest==8.3.5"
]

[tool.poetry.group.dev.dependencies]
black = "*"
mypy = "*"
flake8 = "*"
jupyter = "*"

[tool.poetry.group.docs.dependencies]
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
sphinx = "*"

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
